.drawer_nav {
  font-size: 15px;
  background-color: #373737;
}

.drawer_nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.drawer_nav ul li {
    padding: 15px 15px 0;
    font-size: 18px;
    color: #555;
}

.drawer_nav ul li a {
    color: #FFF;
}