.header-component {
  border: 1px dashed #f00;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 768px)
.site-header {
    display: block;
}

@media (min-width: 768px)
.site-header .container {
    position: relative;
}

.text-center {
    text-align: center;
}